

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="jumbotron">

    @*//Session Name*@
    <div class="text-center">
        <h1 class="display-4">Session Demo</h1>
        <h5>Session Name</h5>
        You are logged in as:    @ViewBag.Name
    </div>

    @*//Session Random Number*@
    <div class="text-center">
        <h5 >Random numbers</h5>
        Your number is:    @ViewBag.Num

       
    </div>



   




    


















</div>
